<div class="mt-3">
  <h2>New book</h2>
    <%= form_with model: Book.new do |f| %>
      <div class="form-group">
        <div>
          <label>Title</label>
        </div>
        <div>
          <%= f.text_field :title, class:"form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label>Opinion</label>
        </div>
        <div>
          <%= f.text_area :body, class:"form-control"  %>
        </div>
      </div>
      <div class="form-group">
        <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
          <div>Create Book</div>
        <% end %>
      </div>
    <% end %>
</div>