<h2>New book</h2>
  <%= form_with model: Book.new do |f| %>
    <div>
      <div>
        <label>Title</label>
      </div>
      <div>
        <%= f.text_field :title %>
      </div>
    </div>
    <div>
      <div>
        <label>Opinion</label>
      </div>
      <div>
        <%= f.text_area :body %>
      </div>
    </div>
    <div>
      <%= f.submit "Create Book" %>
    </div>
  <% end %>