<div>
  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @books.each do |book| %>
          <td><%= image_tag 'default-image(80x80).jpg' %> user_img</td>
          <td>
            <%= link_to book_path(book.id) do %>
              <%= book.title %>
            <% end %>
          </td>
          <td><%= book.body %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>