<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td>
          user_img
          <%= @book.user.name %>
        </td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td>edit</td>
        <td>destroy</td>
      </tr>
    </tbody>
  </table>
</div>

